@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #FAFAFA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.box {
  border-radius: 28px;
  background-color: #fff;
box-shadow: 24px 24px 48px 0px rgba(37, 73, 211, 0.05);
}
.box2:hover {
  box-shadow: 24px 24px 48px 0px rgba(0, 0, 0, 0.05);

}
